.nav1 {background-color: rgb(214, 219, 224);
display: flex;
align-items: center;
gap: 2%;
padding-left: 4%;}
.nav2 {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    /* background-color: aquamarine; */
    align-items: center;
}
ul li {
    list-style-type: none;

}
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.uldiv1 {
    justify-content: space-evenly;
    width: 200px;
    display: flex;
    gap: 2%;
    height: 40px;
    /* background-color: blue; */
   }

  li:hover{
    border-bottom: solid 2px;

   }

   .uldiv2 {
    height: 40px;
    display: flex;
     width: 800px;
     justify-content: space-evenly;
   }
   .uldiv3{
     width: 400px;
    display: flex;
    justify-content:center;
   text-justify: ;
    gap: 10%;
    height: 40px;
   }

   /* navbar 3 */
   .nav3 {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    /* background-color: aquamarine; */
    align-items: center;
    border-top:  solid 1px rgb(232, 230, 230);
}

.nav3div2 {   height: 40px;
    display: flex;
     width: 700px;
     justify-content: space-evenly;

}
.search {
    height: 40px;
}

.loginbutton {
    background-color: rgba(239, 94, 3, 0.925);
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;

}
.hero-img {
    width: 100%;
    height: 700px;
    background-color: blue;
    background-image: url(../assets/FS-hero.jpg);
    background-repeat: no repeat;
    background-size: cover;
    z-index: 1000;
}
.services {
    display: flex;
    padding-top: 50px;
    gap: 5%;
}
.checking {
   
   display: block;
   width: 8%;
   padding: 25px 0;
   padding-left: 20px;
      /* background-color: beige;
   border: solid 1px cornflowerblue */
}
.checking:hover {
    border-color: rgb(6, 231, 10);
    border: solid 2px rgb(255, 119, 0);
    border-radius: 10px;
    text-decoration: underline;
    

      
}
.mp {
    padding-bottom: 30%;
}

/* growing your savings etc */
.gys {
    background-color: rgb(231, 230, 228);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1%;
    width: 350px;
    height: 450px;
    padding-bottom: 2%;
}
.GYShead {
    background-color: aqua;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: -8%;
    height: 40px;
    align-items: center;

  
}


.services2 {
        display: flex;
    padding-top: 50px;
    gap: 5%;

}
button {
    background-color: rgb(232, 156, 6);
width: 150px;
height: 40px;
border-radius: 10px;
border: none;
}
