.bgc {
    background-color: aqua;
}
.fnt {
    font-size: xx-large;
}
footer {
    color: red;
}

.format {
    text-decoration: underline;
}
.fix {
    color: blueviolet;
    font-size: x-large;
}

.navbar {
    background-color: rgb(235, 199, 186);
}
.mgp {font-size: 60px; text-align: center; color: rgb(56, 13, 250);

}
.bgi { background-image: url(./assets/freeimage.jpeg), no re-peat, cover; 
    background-repeat: no repeat;
    background-size: cover;
}
.para2 {
    text-align: center; color: coral;}
.para1 {font-family: "Playwrite IN Guides", cursive}
.button {
    background-color: red; 
    color: aliceblue; 
    border-color: red; 
    border-radius: 10px; 
    width: 3cm;
    height: 1cm; 
    text-align: center;
        }

.lvl {alignment-baseline: baseline;}
.ifh2 { text-align: center;}
.ifp {text-align: center;}


.ifvol {
    background-image: url(./assets/volunteer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }
.fbg1 { 
    border: solid 10px;
    border-radius: 20px;
    margin: 5% 5% 5% 5%;
    padding: 5% 10% 5% 10%;
    border-color:rgb(237, 236, 238); 
    background: linear-gradient(to top right, #f49005, rgb(115, 0, 255), RED);
    
}
.cen {
    color: black; background-color: white;
    text-align: center;
}
.input:focus {
       border-color: red;
       background-color: rgb(154, 138, 169);
       
}
.head:hover {
    color: rgb(228, 5, 5);
    font-size: 25px;
}
.padding {
    margin-right: 50cm;
}
a:link {
    color:blue
}
a:visited {
    color: red
}
.sticky-mode {
   position: sticky;
   top: 0;
   right: 0;

   
}

.sticky {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, rgb(82, 3, 239),rgb(255, 234, 0),rgb(240, 4, 4));
    z-index: 5;
    }
/* home */
.home {
    width: 100%;
    height: 500px;
    position: relative;
    
}
.left-home {
    position: relative;
    width: 550px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2% 2% 1% 2%;    
}
.icon1 {
    position: absolute;
    top: 22px;
    left: 535px;
}

.icon2 {
    position: absolute;
    top: 70px;
    left: 535px;
}
.icon3 {
    position: absolute;
    top: 120px;
    left: 535px;
}

.icon4 {
    position: absolute;
    top: 250px;
    left: 20px;
}

.icon5 {
    position: absolute;
    top: 350px;
    left: 20px;
}

.icon6 {
Position: absolute;
top:300px;
left: 20px;
}
.right-home {
    width: 700px;
    height: 300px;
    position: relative;
    left: 800px;
    bottom: 400px;
}
/* herosession */
/* .Relativeposition {
    position: relative;
     width: 700px;
  height: 200px;
  border: 3px solid green;
  left: 800px;
} */

.herosession {
    width: 100%;
    height: 600px;


}
.heroleft {
    width: 600px;
    height: 400px;
    position: relative;
    left: 750px;
    background-color: #f49005;
    border-radius: 20px;
    bottom: 400px;
    padding: 5%; 5%; 5%; 5%;
    
}
.heronotes {width: 750px;
    height: 400px;
    width: 600px;
    position: relative;
    padding: 5%; 5%; 5%; 5%;


}
.heropic {
    position: relative;
    left: 100px;
    bottom: 45px;
    padding: 5%;
    
}

/* Phone design */
.phone{
    width: 350px;
    height: 600px;
    background: linear-gradient(to top right,rgb(36, 36, 19),#a8a8e7);
    border-radius: 30px;
    padding: 2% 2% 2% 2%;
    position: relative;
}

.calender {
    position: absolute;
    top:  50px;
    left: 300px;
}

.chrome {
    position: absolute;
    bottom:  50px;
  left: 40px;
}
.contact {
    position: absolute;
    bottom:50px;
    left: 150px;
}
.phonecall{
    position: absolute;
    bottom: 50px;
    left: 250px;
}
.messenger {
    position: absolute;
    bottom: 50px;
    left: 350px;
}
.whatsapp {
    position: absolute;
    top: 100px;
    left: 350px;
}
.playstore {
    position: absolute;
    bottom: 250px;
    left: 350px;
}

.location {
    position: absolute;
    bottom: 250px;
    left: 250px;
}
.calender {
    position: absolute;
    top: 200px;
    left: 100px;
}
.skype {
    position: absolute;
    top: 100px;
    left: 250px;
}
.camera{
    position: absolute;
    top: 350px;
    left: 50px;
}
.facebook {
    position: absolute;
    top: 100px;
    left: 150px;
}
.calculator {
    position: absolute;
    top: 200px;
    left: 200px;
}
