.bgc {
    background-color: aqua;
}
.fnt {
    font-size: xx-large;
}
footer {
    color: red;
}

.format {
    text-decoration: underline;
}
.fix {
    color: blueviolet;
    font-size: x-large;
}

.navbar {
    background-color: rgb(235, 199, 186);
}
.mgp {font-size: 60px; text-align: center; color: rgb(56, 13, 250);

}bgi { background-image: url(./assets/freeimage.jpeg);
    background-repeat: no repeat;
    background-size: cover;
}
.para2 {
    text-align: center; color: coral;}
.para1 {font-family: "Playwrite IN Guides", cursive}
.button {
    color: white;
    background:linear-gradient(to right, blue, green);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-left: 350px;}   

.lvl {alignment-baseline: baseline;}
.ifh2 { text-align: center;}
.ifp {text-align: center;}


.ifvol {
    background-image: url(./assets/volunteer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }
.fbg1 { 
    border: solid 10px;
    border-radius: 20px;
    margin: 5% 5% 5% 5%;
    padding: 5% 10% 5% 10%;
    border-color:rgb(237, 236, 238); 
    background: linear-gradient(to top right, #f49005, rgb(115, 0, 255), RED);
    
}
.cen {
    color: black; background-color: white;
    text-align: center;
}
.input:focus {
       border-color: red;
       background-color: rgb(154, 138, 169);
       
}
.head:hover {
    color: rgb(228, 5, 5);
    font-size: 25px;
}
.padding {
    margin-right: 50cm;
}
a:link {
    color:blue
}
a:visited {
    color: red
}
.sticky-mode {
   position: sticky;
   top: 0;
   right: 0;


   
}
.navbar {
     width: 100%;
    height: 50%px;
    background-color: #f49005;   
    z-index: 5;
    display: flex;
    align-items: center;
        position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
.logo {
width: 20%;
   
    }
    .navlinkss {
        color: black;
        height: 20px;
        width: 80%;
        align-items: center;
        justify-content: space-evenly
    }
/* home */
.home {
    width: 100%;
    height: 500px;
    position: relative;
    
}
.left-home {
    position: relative;
    width: 550px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2% 2% 1% 2%;    
}
.icon1 {
    position: absolute;
    top: 22px;
    left: 535px;
}

.icon2 {
    position: absolute;
    top: 70px;
    left: 535px;
}
.icon3 {
    position: absolute;
    top: 120px;
    left: 535px;
}

.icon4 {
    position: absolute;
    top: 250px;
    left: 20px;
}

.icon5 {
    position: absolute;
    top: 350px;
    left: 20px;
}

.icon6 {
Position: absolute;
top:300px;
left: 20px;
}

/* herosession */
/* .Relativeposition {
    position: relative;
     width: 700px;
  height: 200px;
  border: 3px solid green;
  left: 800px;
} */

.herosession {
    width: 100%;
    height: 600px;


}
.heroleft {
    width: 600px;
    height: 400px;
    position: relative;
    left: 750px;
    background-color: #f49005;
    border-radius: 20px;
    bottom: 400px;
    padding: 5% 5%; 5% 5%;
    
}
.heronotes {width: 750px;
    height: 400px;
    width: 600px;
    position: relative;
    padding: 5%; 5%; 5%; 5%;


}
.heropic {
    position: relative;
    left: 100px;
    bottom: 45px;
    padding: 5%;
    
}

.bbb {
    width: 600px;
    height: 400px;
    background-color: #f49005;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.bbb1 {
    width: 150px;
    height: 100px;
    background-color: blue;
}

/* Z-index wit Absolute and relative position */

.containerA {
    background-color: rgb(203, 166, 237);
}
.box1 {
    width: 250px;
    height: 250px;
    background-color: green;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
}

.box2 {
    width: 250px;
    height: 250px;
    background-color: red;
    position: absolute;
    left: 15%;
    top: 15%;
    z-index: 2;

}
.box3 {
    width: 250px;
    height: 250px;
    background-color: yellow;
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 3;

}
/* z-index continue */
.containerB {
    background-color: rgb(203, 166, 237);
}
.box4 {
    width: 250px;
    height: 250px;
    background-color: green;
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 2;
}

.box5 {
    width: 250px;
    height: 250px;
    background-color: red;
    position: absolute;
    left: 60%;
    top: 80%;
    z-index: 3;

}
.box6 {
    width: 250px;
    height: 250px;
    background-color: yellow;
    position: absolute;
    left: 65%;
    top: 90%;
    z-index: 3;

}
.text-position {
    position: sticky;
    bottom: 10%;
     left: 5%;
    background-color: blueviolet;
    font-size: 20px;

}
.textposition1 {
position: sticky;
bottom: 10%;
left: 2%;
} 
.flagstar {
    position: fixed;
    top: 10%;
    right: 2%;
}



/* gride */


.firstgrid {
    grid-area: firstgrid;
    }

.secondgrid {
        grid-area: secondgrid;
    }

.thirdgrid {
     grid-area: thirdgrid;
    }

.forthgrid {
        grid-area: forthgrid;
    }

.fifthgrid {
        grid-area: fifthgrid;
    }

.sixthgrid {
    grid-area: sixthgrid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat( 4, 1fr); */
    /* grid-template-rows: repeat(3, 2fr); */
    grid-template-areas: 
    "firstgrid secondgrid secondgrid"
    "firstgrid thirdgrid fifthgrid"
    "firstgrid forthgrid fifthgrid"
    "sixthgrid sixthgrid sixthgrid"
    ;
    gap: 10px;

}
.container > div {
    background-color: blueviolet;
    color: antiquewhite;
    padding: 20px;
    font-size: 30px;

}
/* glo home work */
.glo {
    width: 100%;
    /* height: 400px; */
  

}
.nav1 {
    width: 100%;
    height: 75px;
    background-color: rgb(3, 227, 175);
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.nav1div1 {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    padding-left: 4%;
    
}
.nav1div2 {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    
}
.new {

    background-color: white;
}
.nav1div3 {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    background-color: green;
    height: 75px;
    align-items: center;
    
}
.nav2 {
    height: 75px;
    display: flex;
    align-items: center;
}
.glologo {
    padding-left: 3%;
    width: 20%;
}
.nav2links {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.glohero {
    height: 200px;
    background-color: blueviolet;
}

/* grid work hero */
.grid1 {
    grid-area: buydata;
}

.grid2 {
    grid-area: tariff;
}
.grid3 {
    grid-area: borrow;
}

.grid4 {
    grid-area: share;
}

.grid5 {
    grid-area: globusiness;
}
.grid6 {
    grid-area: gift;
}
.grid7 {
    grid-area: entertainment;
}

.container {
    display: grid;
    grid-template-areas:
    "buydata tariff borrow"
    "share share globusiness"
    "gift entertainment globusiness"
    ;
    gap: 1%;

}
.container > div {
    background-color: white
}
.img:hover {

}
.img {
    filter: brightness(45%);
    width: 100%;
    border-radius: 10px;
}
.gloarrow {
    width: 50px;
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
}
.borrow-data {
    color: white;
<<<<<<< HEAD
    position: relative;
    bottom: 50%;
   
} 
.glo-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ps-dropdown:hover {
    color: rgb(243, 9, 9);
}
.ps-dropdown {
    position: relative;
}
.ps-dropdown-content {
    display: none;
    position: absolute;
    min-width: 130px;
    background-color: rgb(201, 187, 169);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.ps-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.ps-dropdown-content a:hover {
  background-color: #f1f1f1;}

=======
    position: relative;
    bottom: 50%;
   
}
>>>>>>> cf434409e9981caae65c77101fd8a20bf0c2df82
